@model ADCW.Models.VideoCategory

@{
    ViewBag.Title = "Details";
}

<div class="card">
    <div class="card-body">
        <h4>VideoCategory</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VidCatName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VidCatName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AgeRestricted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AgeRestricted)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.VidCatId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
        </p>
</div>
</div>
