@model ADCW.Models.MemberCategory

@{
    ViewBag.Title = "Delete";
    ViewBag.SubTitle = "Are you sure you want to delete this ?";
}

<div class="delete-form">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MemCatName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MemCatName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalLoans)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalLoans)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PenaltyDays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PenaltyDays)
            </dd>

        </dl>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger"/> 
            @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-default" })
        </div>
    }
</div>
