@model IEnumerable<ADCW.Models.LoanType>

@{
    ViewBag.Title = "LoanTypes";
    ViewBag.SubTitle = "List of LoanTypes";
    ViewBag.Create = "Create";
}

<div class="card">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoanTypeTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanTypeTitle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.LoanTypeId }) |
                @Html.ActionLink("Details", "Details", new { id=item.LoanTypeId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.LoanTypeId })
            </td>
        </tr>
    }

</table>
</div>
